<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <targets>
        <target xsi:type="File"
                name="todos"
                fileName="logs\TemplateIntegracao.log"
                layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} [${uppercase:${level}}] [Thread:${threadid}] [${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}] ${message} ${exception:format=tostring}"
                maxArchiveDays="14"
                archiveEvery="Hour"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMddHHmmss"
        />
        <target xsi:type="File"
                name="stdout"
                fileName="logs\stdout.log"
                layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} [${uppercase:${level}}] [Thread:${threadid}] [${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true}] ${message} ${exception:format=tostring}"
                maxArchiveDays="1"
                archiveEvery="Hour"
                archiveNumbering="Date"
                archiveDateFormat="yyyyMMddHHmmss"
        />
    </targets>
    <rules>
        <logger name="Refit.*" maxlevel="Info" final="true" writeTo="todos" />
        <logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Warn" final="true" />
        <logger name="Microsoft.AspNetCore.*" maxlevel="Error" final="true" />
        <logger name="System.Net.Http.HttpClient.*" maxlevel="Error" final="true" />
        <logger name="*" minlevel="Info" writeTo="todos" />
    </rules>
</nlog>